<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payforward.androidapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SetLocationActivity"
            android:label="@string/title_activity_set_location" />
        <activity android:name=".onboard.DescriptionActivity" />
        <activity android:name=".post.PostTypeActivity" />
        <activity android:name=".post.CategoryActivity">
        </activity>
        <activity android:name=".post.SubCategoryActivity" />
        <activity android:name=".onboard.NameBoardActivity" />
        <activity
            android:name=".onboard.TermsActivity"
            android:label="@string/title_activity_name_board" />
        <activity android:name=".onboard.CreateAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onboard.VerifyMemberActivity" />
        <activity android:name=".onboard.VerificationCodeActivity" />
        <activity android:name=".onboard.UploadPhotoActivity" />
        <activity android:name=".post.DescribeOfferActivity" />
        <activity android:name=".onboard.WhereHomeActivity">

        </activity>
        <activity android:name=".post.ChooseCommunityActivity"/>
    </application>

</manifest>